{"http_interactions":[{"request":{"method":"get","uri":"http://rest.sandbox-immobilienscout24.de/restapi/api/gis/v1.0/continent/1/country/276/region/4/city/1/quarter/74","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json;charset=UTF-8"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"L-Is24-Requestrefnum":["66165558-33dc-40ad-8ac3-5faa9fe6f374"], "L-Is24-Apiclient":["testzugang-import-api-converateKey"], "Last-Modified":["Tue, 29 Mar 2016 12:13:10 GMT"], "Content-Type":["application/json;charset=UTF-8"]},"body":{"encoding":"US-ASCII","base64_string":"eyJnaXMucXVhcnRlciI6eyJuYW1lIjoiQWhyZW5zZmVsZGUiLCJnZW9Db2Rl\nSWQiOjc0fX0=\n"},"http_version":null},"recorded_at":"Tue, 29 Mar 2016 12:13:10 GMT"}],"recorded_with":"VCR 3.0.1"}