{"http_interactions":[{"request":{"method":"get","uri":"http://rest.sandbox-immobilienscout24.de/restapi/api/gis/v1.0/continent/1/country/276/region/4/city/1","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json;charset=UTF-8"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"L-Is24-Requestrefnum":["af0606b7-a279-4510-8c18-9c289821d64f"], "L-Is24-Apiclient":["testzugang-import-api-converateKey"], "Last-Modified":["Tue, 29 Mar 2016 12:13:10 GMT"], "Content-Type":["application/json;charset=UTF-8"]},"body":{"encoding":"US-ASCII","base64_string":"eyJnaXMuY2l0eSI6eyJuYW1lIjoiQmFybmltIChLcmVpcykiLCJnZW9Db2Rl\nSWQiOjF9fQ==\n"},"http_version":null},"recorded_at":"Tue, 29 Mar 2016 12:13:10 GMT"}],"recorded_with":"VCR 3.0.1"}