{"http_interactions":[{"request":{"method":"get","uri":"http://rest.sandbox-immobilienscout24.de/restapi/api/gis/v1.0/continent/1/country/276","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json;charset=UTF-8"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"L-Is24-Requestrefnum":["28815d19-d33a-4ecb-b68f-e992eb73418a"], "L-Is24-Apiclient":["testzugang-import-api-converateKey"], "Last-Modified":["Tue, 29 Mar 2016 12:13:10 GMT"], "Content-Type":["application/json;charset=UTF-8"]},"body":{"encoding":"US-ASCII","base64_string":"eyJnaXMuY291bnRyeSI6eyJuYW1lIjoiRGV1dHNjaGxhbmQiLCJnZW9Db2Rl\nSWQiOjI3Nn19\n"},"http_version":null},"recorded_at":"Tue, 29 Mar 2016 12:13:10 GMT"}],"recorded_with":"VCR 3.0.1"}