{"http_interactions":[{"request":{"method":"get","uri":"http://rest.sandbox-immobilienscout24.de/restapi/api/offer/v1.0/user/me","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json; charset=utf-8"]}},"response":{"status":{"code":200,"message":null},"headers":{"content-type":["application/json;charset=UTF-8"]},"body":{"encoding":"US-ASCII","base64_string":"eyJvZmZlcnVzZXIub2ZmZXJVc2VyIjp7ImN1c3RvbWVyIjp7InByb2Zlc3Np\nb25hbCI6InRydWUifX19\n"},"http_version":null},"recorded_at":"Thu, 10 Apr 2014 12:20:59 GMT"}],"recorded_with":"VCR 2.9.0"}